################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/.vs/ProjectEvaluation
/src/.vs/DopisLadilovi
/src/Core/.vs/ProjectEvaluation
/src/Utils/.vs/QRCodeGenerator
/src/Utils/bin/Debug/net8.0
/src/Utils/obj
/.vs
